body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.post-link {
	text-decoration: none;
}

header {
	color: white;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	position: relative;
}

.home-page header {
	background-image: url(/assets/banner.jpeg);
}

header > * {
	z-index: 10;
}

header::after {
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
}
.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(/assets/PratikProfile.png);
	background-size: cover;
}

.profile-name {
	font-size: 2rem;
	font-weight: bold;
}

.subtext {
	margin-top: 8px;
}

.main {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.main-container {
	max-width: 750px;
	min-width: 600px;
	width: 100%;
	padding: 0 16px 0 16px;
}

.post {
	display: flex;
	border: 1px solid #eaecee;
	border-radius: 8px;
	min-height: 200px;
	overflow: hidden;
	transition: all 0.25s ease;
	cursor: pointer;
	margin: 24px 0 0 0;
}

.post:hover {
	transform: translate3d(0, -5px, 0);
	box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.post-image {
	flex-basis: 40%;
	flex-direction: row;
	background-size: cover;
	background-position: center;
}

.post-content {
	flex-basis: 60%;
	flex-direction: row;
	padding: 24px;
}

.post-date {
	font-size: 12px;
	font-weight: 600;
	color: #adb5bd;
}

.post-title {
	margin: 16px 0 0 0;
	font-size: 1.5rem;
	color: #333;
	font-weight: 600;
}

.post-title h4 {
	margin: 0;
}

.post-text {
	margin: 4px 0 0 0;
	color: #495057;
	font-weight: 400;
	line-height: 1.4;
	max-height: 65px;
	overflow: hidden;
	text-align: justify;
}

a.post-link {
	text-decoration: none;
}

footer {
	min-height: 100px;
	background-color: #eaecee70;
	color: #929eaa;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	font-size: 14px;
}

.nav-button.new-post-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 24px;
	width: 50px;
	height: 50px;
	background-color: #004186;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
	background-color: #002349;
}

.navigation a {
	text-decoration: none;
	/* color: #004186; */
	border: 1px solid #004186;
	border-radius: 4px;
	padding: 5px 8px;
}
